# Chapter 12 Tuples

## 12.1 Tuples are immutable

A tuple is a comma-separated list of values

In [ ]:
t = 'a', 'b', 'c', 'd', 'e'

In [ ]:
t

In [ ]:
# although it is not necesary, it is common to enclose tuples in parenthese:
t = ('a', 'b', 'c', 'd', 'e')

In [ ]:
t

In [ ]:
t = 'a'
t

In [ ]:
type(t)

In [ ]:
t = 'a', 
t

In [ ]:
type(t)

In [ ]:
# we can also use the build-in function tuple()
t = tuple()
t

In [ ]:
t = tuple()
t

In [ ]:
# if the argument of the tuple() funtion is a sequence, then the result is a tuple with 
# elements of the sequence
t = tuple('lupins')
t

In [ ]:
x = [1, 2, 3]
t = tuple(x)
t

In [ ]:
t = tuple(t)
t

In [ ]:
# most list operators work on tuples
t[0]

In [ ]:
t[1:]

In [ ]:
t[0] = 'A'

In [ ]:
# so tuples are immutable but we can create a new tuple:
t = ('A',) + t[1:]
t

## 12.2 Tuple assignment

In [ ]:
# how to swap a value the old-school way
a = 'a'
b = 'b'
temp = a
a = b
b = temp
print('a: ', a, ' b: ', b)

In [ ]:
# tuple assignment is more elegant:
a = 'a'
b = 'b'
a, b = b, a
print('a:', a, 'b:', b)

In [ ]:
# the left side is a tuple of variable, the right side is a tuple of expressions

In [ ]:
a, b = 1, 2, 3 # ohoh not balanced

In [ ]:
# more generally the right side can be any kind of sequence
addr = 'jryntema@ilionx.com'
username, domain = addr.split('@')
username

In [ ]:
domain

## 12.3 Tuples as return values

Strictly speaking a function can return only one value. If that value is a tuple, we are in effect return multiple values.

In [ ]:
t = divmod(7,3)
t

In [ ]:
type(t)

In [ ]:
quot, rem = divmod(7,3)
quot

In [ ]:
rem

In [ ]:
def min_max(t):
    return min(t), max(t)

In [ ]:
min_max('janremko')

## 12.4 Variable length argument tuples

In [ ]:
# use * to gather arguments into a tuple
def printall(*args):
    print(args)
    
printall('a', 1, True, 'Jan Remko')

In [ ]:
# the reverse is scatter:
t = (7,3)
divmod(t)

In [ ]:
divmod(*t)

In [ ]:
# many of the build-in functions use variable-length input tuples:
max(1, 3, 6, 1000)

In [ ]:
# other don't
sum(1, 2, 3)

In [ ]:
def sum_all(*x):
    result = 0
    for n in x:
        result += n
    return result

sum_all(1, 2, 3, 4)

In [ ]:
sum_all(1, 2, 3, 4, 5)

## 12.5 Lists and tuples

In [ ]:
# zip() interleaves two sequences
s = 'abc'
t = [1, 2, 3]
z = zip(s, t)
z

In [ ]:
# a zip object is a kind of iterator, an iterator is not a list (no indices)
for pair in z:
    print(pair)

In [ ]:
# keep in mind that iterating a zipper, eats the contents
for pair in z:
    print(pair)

In [ ]:
# but we can convert a zip-object into a list:
z = zip(s, t)
l = list(z)
l

In [ ]:
# if input sequences are not of equal length, zip takes the shortest
list(zip('Jan', 'Remko'))

In [ ]:
# You can use tuple assignment in a for loop to traverse a list of tuples:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

In [ ]:
# combine zip, for and tuple assignment to look for matches in two sequences
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return x
    return False

has_match('bobrambo', 'janremko')

In [ ]:
# If you need to traverse the elements of a sequence and their indices, you can use 
# the built-in function enumerate:
for index, element in enumerate('abc'):
    print(index, element)

In [ ]:
for index, element in enumerate([1, 2, 3, 4]):
    print(index, element)

## 12.6 Dictionaries and tuples

In [ ]:
# Dictionaries have a method called items that returns a sequence of tuples, where each
# tuple is a key-value pair.
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

In [ ]:
# dict_items is an iterator
for key, value in t:
    print(key, value)

In [ ]:
# using a list of tuples to initialize a dict:
t = ([('a', 0), ('b', 1), ('c', 2)])
d = dict(t)
d

In [ ]:
# combining dict() with zip() yields a concise way to create a dictionary
d = dict(zip('abc', range(3)))
d

In [ ]:
# with the update method we can add a list of tuples to a dictionary
d.update([('d', 3)])
d

In [ ]:
# tuples can be used as keys for dictionaries

d = {('Yntema', 'Jan Remko'): 12345, ('Mesken', 'Arnoud'): 23456}
d

In [ ]:
for last, first in d:
    print(first, last, d[last, first])

## 12.7 Sequences of sequences

In most contexts sequences (strings, lists, tuples) can be used interchangeably. 

1. For return statements tuples are often the easiest to use
2. For dictionary keys you need to use an immutable type, tuple or string

## 12.8 Debugging

## 12.9 Glossary

## 12.10 Exercises