# Chapter 19 The Goodies

## 19.1 Conditional expressions

In [ ]:
import math

x = -1

if x > 0:
    y = math.log(x)
else:
    y = float('nan')
    
y

In [ ]:
# or more concisely with conditional expressions:

x = -1

y = math.log(x) if x > 0 else float('nan')

y

In [ ]:
# recursive functions can sometimes be rewriten as conditional expressions:

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
# then becomes:

def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

# this almost reads like an English sentence... Pure prose!

In general, you can replace conditional statements with a conditional expression if both branches contain simple expressions that are either returned or assigned to the same variable.

## 19.2 List comprehensions

In [ ]:
# Using a map pattern we can capitalize a list of strings:

def capitalize_all(t):
    res = []
    for s in t :
        res.append(s.capitalize())
    return res

lc = ['joram']

cap = capitalize_all(lc)

cap

In [ ]:
# and now for something way better, with list comprehensions:

def capitalize_all(t):
    return [s.capitalize() for s in t] # <--- this is it!

lc = ['heleen', 'fera']

cap = capitalize_all(lc)

cap

In [ ]:
# Filtering:

# Original
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

only_upper('Jan Remko')

In [ ]:
# now with list comprehension

def only_upper(t):
    return [s for s in t if s.isupper()]

only_upper('Jasper En Roel')

In [ ]:
even = [i for i in range(100) if i % 2 == 0]
even

List comprehensions are:

- concise and easy to read
- usually faster than loops
- harder to debug, no print options

## 19.3 Generator expressions

In [ ]:
g = (x**2 for x in range(5))
g

In [ ]:
next(g)

In [ ]:

next(g)

In [ ]:
for val in g:
    print(val)

In [ ]:
next(g)

In [ ]:
# generator expressions are often used with aggregation functions like sum, max and min

sum(x**2 for x in range(5))

# 19.4 `any` and `all`

In [ ]:
any([False, False, True])

In [ ]:
any([0,0,1])

In [ ]:
any([0,0])

In [ ]:
any(letter == 't' for letter in 'monty')

In [ ]:
def avoids(word, forbidden):
    return not any(letter in forbidden for letter in word)

avoids('abc', 'jan remko')

In [ ]:
avoids('bcd', 'jan remko')

In [ ]:
all([True, True])

In [ ]:
all([True, False])

## 19.5 Sets

In [ ]:
def has_duplicates(t): # t is a dictionary
    d = {}
    for x in t:
        if x in d:
             return True
        d[x] = True
    return False

has_duplicates('jan remko yntema')

In [ ]:
def has_duplicates(t):
    return len(set(t)) < len(t)

has_duplicates('jan remko yntema')

In [ ]:
has_duplicates('abÃ§')

## 19.6 Counters

In [ ]:
# counters are like a mathematical multiset
from collections import Counter

count = Counter('parrot')
count

In [ ]:
count['p']

In [ ]:
count['d']  # no exception with non-existing indices

In [ ]:
# counters provide most of the methods which are also available for sets
# and a very useful most_common() method:

count = Counter('parrot')
for val, freq in count.most_common(3):
    print(val, freq)

## 19.7 defaultdict

defaultdict is like a dictionary except that if you access a key that doesn't exist, it can generate a new value on the fly. The defaultdict does this by using a **factory** functions which you provide when creating the object.

In [ ]:
from collections import defaultdict

d = defaultdict(list) ## list is not a function, but the class list which provides the list() function
t = d['new key']
t

In [ ]:
d

In [ ]:
t.append("new value")

In [ ]:
d

In [ ]:
d['new key'].append('wrong falue') 
d

## 19.8 Named tuples

In [ ]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
        
    def __str__(self):
        return '(%g,, %g)' % (self.x, self.y)

In [ ]:
# a more concise way to do the same, is by using a namedtuple:

from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
Point

In [ ]:
p = Point(1,2)
p

In [ ]:
# access the attributes
p.x, p.y

In [ ]:
# access like a tuple
p[0], p[1]

In [ ]:
a, b = p
a, b

In [ ]:
# named tuples  provide a quick way to define simple classes, more complex cases can be covered by inheritance:

class Pointier(Point):
    # add something

## 19.9 Gathering keyword args

In [ ]:
def printall(*args):
    print(args)

In [ ]:
printall(1, 2.0, '3')

In [ ]:
printall(1, 2.0, third='3')

In [ ]:
def printall(*args, **kwargs):
    print(args, kwargs)

In [ ]:
printall(1, 2.0, third='3')

In [ ]:
printall(1, second=2.0, '3')

In [ ]:
# when used as a scatter operator ** is able to pass values to functions:

d = dict(x=1, y=2)
q = Point(**d)
q

In [ ]:
r = Point(d)

## 19.10 Glossary

## 19.11 Exercises